


*{
   
    font-family: 'Work Sans', sans-serif;   

}
/* header stile */
.header{
    background-color: rgba(240, 189, 130, 0.1);
    padding: 50px;

}
.nav-title{
    font-size: 45px;
    font-weight: 700px;
    color: rgb(32, 37, 27);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul {
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500px;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: rgb(75, 70, 70);
}
/* banner */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 64px;
    font-weight: 700px;
}
.btn-banner{
    background-color: rgb(233, 105, 13);
    padding: 30px;
    color: white;
    font-size: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.banner-photo{
    margin-top: 10px;
    width: 100%;
}
/* Main section */
main{
    max-width: 1140px;
    margin: 0 auto;
  }

.team-container{
    display: flex;
    align-items: center;
    width: 90vh;

}
.team-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
   
}
.team-content{
    padding-right: 70px;
    padding-left: 70px;
}
.team-title{
    font-size: 45px;
    font-weight: 800px;
}
.quick{
    color: rgb(184, 181, 181);
}
.feature{
    color: red;
    font-weight: bold;
}

/* features section contain */

.features{
    margin: 50px;
    display: flex;
    gap: 100px;

}
.feature-contain .card{
    background: rgb(247, 236, 236);
    border-radius: 30px;
    padding:2px;
    box-shadow: 20px;
    gap: 20px;
   margin-bottom: 20px;
   width: 350px;

}
.feature-image{
    width: 100%;
    margin: auto;
}
.feature-title{
    border-left: 5px solid red;
    padding-left: 20px;
}
.year{
    background-color: chocolate;
    padding: 10px;
    margin-right: 50px;
    color: white;
    width: 340px;
    margin-bottom: 50px;
}
.ten{
    font-size: 45px;
    text-align: center;
    font-size: 80px;
}
.ten-dis{
    text-align: center;
    font-size: 30px;
}







/* responsive sitle */
@media screen and (max-width: 576px) {
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
    team-container{
        flex-direction: column;
    }
 
}
/* tablet devise */
@media screen and (min-width: 576px) and (max-width: 960px) {
    nav{
        flex-direction: column;
    } 
    team-content{
        padding-right: 20px;
        padding-left: 20px;
   }
}


