
/* sans */
<style>
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Work+Sans:wght@400;600;700;800&display=swap');
</style>


*{
   
    font-family: 'Work Sans', sans-serif;   

}
/* header stile */
.header{
    background-color: rgba(240, 189, 130, 0.1);
    padding: 50px;

}
.nav-title{
    font-size: 45px;
    font-weight: 700px;
    color: rgb(32, 37, 27);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul {
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500px;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: rgb(75, 70, 70);
}
/* banner */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 64px;
    font-weight: 700px;
}
.btn-banner{
    background-color: rgb(233, 105, 13);
    padding: 30px;
    color: white;
    font-size: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.banner-photo{}